#page-contact.pages.black-bg.white.page-contact
    .container
      header
        h4.line-divider Contact
        h1 Get Involved
        .row
          .span8.offset2
            p
              | We like to create things with fun, open-minded people. Feel free to say hello! We'll respond as soon as possible.
      article
        .row-fluid
          .span6
            h5 What do you want to create?
            form
              input.span12(type='text', placeholder='Title', required='required')
              input.span12(type='email', placeholder='Email', required='required')
              textarea.span12(rows='10', required='required')
              button.btn.btn-primary(type='submit') Submit
          .span5.offset1
            h5 Get in touch
            .media
              .social-icons.sicon-white.pull-left
                a.sicon-phone(href='#')
                  i Phone
              .media-body.smallFontBy08
                | (+1) 800 000-0000
            .media
              .social-icons.sicon-white.pull-left
                a.sicon-place(href='#')
                  i Location
              .media-body.smallFontBy08
                | 1626 NE Alberta St., Portland, OR
            .media
              .social-icons.sicon-white.pull-left
                a.sicon-mail(href='#')
                  i email
              .media-body.smallFontBy08
                | info@communitysupportedeverything.org
                br
            br
            br
            br
            h5 Find us elsewhere
            .social-icons.sicon-white.bordered
              a.sicon-facebook(href='#')
                i Facebook
    #map-image
      img(src='static/images/pages/contact/map_bck.jpg', alt='Treble')