article
  h4.line-divider.center We couldn't do it without our community
  h2.center Thanks to our volunteers
  .row.contributors
    .span3.offset4
      h4 Web Site
      ul
        li 
          h5.name Michael Dougherty
          a.site(href='http://michaeldougherty.info' target='_blank') http://michaeldougherty.info
        li 
          h5.name Cameron Gaut
          a.site(href='http://seegodesign.com' target='_blank') http://seegodesign.com
        li 
          h5.name Shane Stranahan
          a.site(href='http://shanestranahan.com' target='_blank') http://shanestranahan.com       
    .span3
      h4 Thank You
      ul
        li 
          h5.name Mark Lakeman
          a.site(href='http://cityrepair.org/' target='_blank') http://cityrepair.org/
        li Jane Smith
        li Generica Ladue
  .padb2

