article
  h4.line-divider.center We couldn't do it without our community
  h2.center Thanks to our volunteers
  .row.contributors
    .span3.offset2
      h4 Advisors
      ul
        li John Doe
        li Jane Smith
        li Generica Ladue
    .span3
      h4 Web site
      ul
        li 
          h5.name Michael Dougherty
          a.site(href='http://michaeldougherty.info' target='_blank') http://michaeldougherty.info
        li 
          h5.name Cameron Gaut
          a.site(href='http://seegodesign.com' target='_blank') http://seegodesign.com
        li 
          h5.name Shane Stranahan
          a.site(href='http://shanestranahan.com' target='_blank') http://shanestranahan.com       
    .span3
      h4 Thanks to
      ul
        li John Doe
        li Jane Smith
        li Generica Ladue
  .padb2

