
#page-features.pages.white.paralax.page-features
  .overlay
  .container
    header
      h4.line-divider Program
      h1 How We Work
      .row
        .span8.offset2
          p
            | Community Supported Everything is a model of experiential learning where residents apply their unique talents, passions, and curiosity towards community-scale solutions that address issues of sustainability, livability, and social justice.
          p
    article
      .row-fluid
        .span4.center
          img(src='assets/images/pages/features/about01.png', alt='Treble')
          h5 Project-Based
          p.smallFontBy08.cutBy10
            | Residents design a project with a tangible product or outcome that addresses a critical unmet need they see in the community, and that speaks to their unique creativity, passion, and curiosity.
        .span4.center
          img(src='assets/images/pages/features/about02.png', alt='Treble')
          h5 Personalized
          p.smallFontBy08.cutBy10
            | Working with residents one-on-one, we identify their learning edges, and crafting weekly action items and goals that challenge them to conquer their blocks and keep forward momentum.
        .span4.center
          img(src='assets/images/pages/features/about03.png', alt='Treble')
          h5 Open-Source
          p.smallFontBy08.cutBy10
            | Residents create an open-source online record of their work so that others may benefit from and replicate their solutions.
      br
      br