
#page-features.pages.white.paralax.page-features
  .overlay
  .container
    header
      h4.line-divider Program
      h1 How We Work
      .row
        .span8.offset2
          p
            | Community Supported Everything provides creative change-makers with a high integrity, high accountability environment to launch self-directed projects. Residents take action in the community in the collective pursuit of a world that works for 100% of humanity. With the support of coaches, mentors and peers, residents examine their personal edges, celebrate successes, learn from mistakes and document the process every step of the way.
          br
    article.program-overview
      .row
        .span4.offset2.center.node.systems-thinking
          .node-ct
            img.icon(src='static/images/pages/program/systems-thinking.png', alt='Systems Thinking')
            h5 Systems Thinking
          .description We strive to see challenges from new perspectives. We recognize the deep interconnectivity of our world and respond to challenges in ways that address root causes.
        .span4.center.node.coaching
          .node-ct
            img.icon(src='static/images/pages/program/coaching.png', alt='Coaching')
            h5 Coaching
          .description We leverage the power of self-directed learning through coaching, goal setting, project management, and self-reflection. Each project is supported by a committee of community mentors.
      .row
        .span4.center.node.open-source
          .node-ct
            img.icon(src='static/images/pages/program/open-source.png', alt='Open-Source')
            h5 Open-Source
          .description Knowledge gained and shared has the potential to benefit the whole world. We document and share our learning processes, outcomes and tools. Our work here belongs to the global commons.
        .span4.center.node.integrity
          .node-ct
            img.icon(src='static/images/pages/program/integrity.png', alt='Integrity')
            h5 Integrity
          .description We align our actions, words and thoughts to move from our highest potential. We ground ourselves in mutual responsibility and a dedication to repairing our world.
        .span4.center.node.praxis
          .node-ct
            img.icon(src='static/images/pages/program/praxis.png', alt='Praxis')
            h5 Praxis
          .description We balance action with reflection. We learn as much from our failures as we learn from our success. We recognize that learning is a process and allow for adaptation to new insights.
      .row
        .span4.offset2.center.node.edgework
          .node-ct
            img.icon(src='static/images/pages/program/edgework.png', alt='Edgework')
            h5 Edgework
          .description We grow at our edges. Whether learning new skills or examining limiting beliefs, we hold ourselves accountable to tackling inner and outer obstacles in order to push beyond our known limits.
        .span4.center.node.community-resilience
          .node-ct
            img.icon(src='static/images/pages/program/community-resilience.png', alt='Community Resilience')
            h5 Community Resilience
          .description We aim to build thriving communities by supporting projects that directly strengthen our local capacities and possibilities. We focus on adaptive solutions that match the social, cultural, and environmental context.
