
#page-features.pages.white.paralax.page-features
  .overlay
  .container
    header
      h4.line-divider Program
      h1 How We Work
      .row
        .span8.offset2
          p
            | Designed to be either a compliment or alternative to the traditional university system, CSE provide creative adults with a high integrity, high accountability environment to pursue their curiosity and passion in pursuit of a world that works for 100% of humanity. With the support of coaches and a community of peers, residents take action in the real world, pushing their edges, making mistakes, and documenting their progress every step of the way.
          p
    article.program-overview
      .row-fluid
        .span4.offset2.center
          img.icon(src='static/images/pages/program/systems-thinking.png', alt='Systems Thinking')
          h5 Systems Thinking
          p.smallFontBy08.cutBy10
            | We strive to see old challenges from new perspectives. We recognize the interconnectivity of our world and intend to respond to the challenges from a place of complexity and holism.
        .span4.center
          img.icon(src='static/images/pages/program/coaching.png', alt='Coaching')
          h5 Coaching
          p.smallFontBy08.cutBy10
            | We leverage the power of self-directed learning through extensive coaching, incorporating goal setting, project management, and self-reflection into each phase of our work. Each project is supported by a committee of mentors.
      br
      br
      .row-fluid
        .span4.center
          img.icon(src='static/images/pages/program/integrity.png', alt='Integrity')
          h5 Integrity
          p.smallFontBy08.cutBy10
            | We align our actions, words and thoughts and move from our highest selves. We are grounded in collective responsibility and dedicated to repairing our world.
        .span4.center
          img.icon(src='static/images/pages/program/open-source.png', alt='Open-Source')
          h5 Open-Source
          p.smallFontBy08.cutBy10
            | We believe in utilizing technology to unify and transform our world. We document and share all learning processes, outcomes and tools along the way. We are all in this together.
        .span4.center
          img.icon(src='static/images/pages/program/praxis.png', alt='Praxis')
          h5 Praxis
          p.smallFontBy08.cutBy10
            | We balance action with reflection. Our methods and strategies are constantly evolving through a system of evaluation and reflection. We learn as much from our failures as we learn from our success.
      br
      br
      .row-fluid
        .span4.offset2.center
          img.icon(src='static/images/pages/program/edgework.png', alt='Edgework')
          h5 Edgework
          p.smallFontBy08.cutBy10
            | We are always at our edge. Whether learning new skills or examining limiting beliefs, we hold ourselves accountable to constant expansion. We examine inner obstacles as we take action in the world.
        .span4.center
          img.icon(src='static/images/pages/program/community-resilience.png', alt='Community Resilience')
          h5 Community Resilience
          p.smallFontBy08.cutBy10
            | We believe in elasticity, adaptation and growth. We aim to build thriving and resilient communities by supporting projects that directly strengthen our local capacities and possibilities. 
      br
      br
