
#page-features.pages.white.paralax.page-features
  .overlay
  .container
    header
      h4.line-divider Program
      h1 How We Work
      .row
        .span8.offset2
          p
            | Designed to be either a compliment or alternative to the traditional university system, CSE provide creative adults with a high integrity, high accountability environment to pursue their curiosity and passion in pursuit of a world that works for 100% of humanity. With the support of coaches and a community of peers, residents take action in the real world, pushing their edges, making mistakes, and documenting their progress every step of the way.
          p
    article
      .row-fluid
        .span4.offset2.center
          img(src='static/images/pages/features/about01.png', alt='Treble')
          h5 Systems Thinking
          p.smallFontBy08.cutBy10
            | Residents design a project with a tangible product or outcome that addresses a critical unmet need they see in the community.
        .span4.center
          img(src='static/images/pages/features/about01.png', alt='Treble')
          h5 Coaching
          p.smallFontBy08.cutBy10
            | Residents design a project with a tangible product or outcome that addresses a critical unmet need they see in the community.           
      br
      br
      .row-fluid
        .span4.center
          img(src='static/images/pages/features/about01.png', alt='Treble')
          h5 Integrity
          p.smallFontBy08.cutBy10
            | Residents design a project with a tangible product or outcome that addresses a critical unmet need they see in the community.
        .span4.center
          img(src='static/images/pages/features/about02.png', alt='Treble')
          h5 Open-Source
          p.smallFontBy08.cutBy10
            | Residents create an open-source online record of their work so that others may benefit from and replicate their solutions.
        .span4.center
          img(src='static/images/pages/features/about03.png', alt='Treble')
          h5 Praxis
          p.smallFontBy08.cutBy10
            | Praxis
      br
      br
      .row-fluid
        .span4.offset2.center
          img(src='static/images/pages/features/about01.png', alt='Treble')
          h5 Edge-work
          p.smallFontBy08.cutBy10
            | Residents design a project with a tangible product or outcome that addresses a critical unmet need they see in the community.
        .span4.center
          img(src='static/images/pages/features/about01.png', alt='Treble')
          h5 Community Resilience
          p.smallFontBy08.cutBy10
            | Residents design a project with a tangible product or outcome that addresses a critical unmet need they see in the community.
      br
      br
