
#page-work.pages.page-work
  .container
    header
      h4.line-divider Vision
      h1 
        | Education for a
        br
        | Changing World
      .row
        .span8.offset2
          p
            | What would happen if communities took higher education into their own hands? What if education meant pursuing our passions and growing at our edges, immersed in a culture of creativity, accountability, integrity and action? We could transform our communities and build resilient new systems that will carry us through the next century. What if instead of using degrees to measure our success, we were credited by the direct impact our work has on the world?
      //- nav.submenu
        ul
          li
            a.plugin-filter.active(href='#', data-filter='all') All
          li
            a.plugin-filter(href='#', data-filter='typography') Food
          li
            a.plugin-filter(href='#', data-filter='illustration') (R)Evolution
          li
            a.plugin-filter(href='#', data-filter='branding') Education
