#page-welcome.pages.white.paralax.page-welcome
  .centralized
    .container
      .row-fluid
        .span12.center
          .logo
            .scrollNormal
              a(href='#page-work')
                img(src='static/images/guildhall-logo.png', width='140', height='140', alt='Guildhall Emblem')
            .scrollDown
              a(href='#page-work')
                img(src='static/images/pages/welcome/logo2_welcome.png', width='140', height='140', alt='Scroll Image')
          #welcome-messages.line-divider
            ul.slides
              li
                h1 Community Supported Everything
          p An incubator for social transformation
          .social-icons.sicon-white.bordered
            a.sicon-facebook(href='https://www.facebook.com/CommunitySupportedEverything')
              i Facebook