
#page-work.pages.page-work
  .container
    header
      h4.line-divider Vision
      h1 A New Paradigm
      .row
        .span8.offset2
          p
            | What would happen if communities took higher education into their own hands? What if we harnessed the power and creativity of learning to develop local solutions to the challenges we face as a global society? What if instead of degrees and grades, we shared our solutions, and were credited by the direct impact our work has on the world?
      //- nav.submenu
        ul
          li
            a.plugin-filter.active(href='#', data-filter='all') All
          li
            a.plugin-filter(href='#', data-filter='typography') Food
          li
            a.plugin-filter(href='#', data-filter='illustration') (R)Evolution
          li
            a.plugin-filter(href='#', data-filter='branding') Education
