extends 'layout/main.jade'

block main_content
  include views/frontend/pages/welcome.jade
  include views/frontend/pages/vision.jade
  include views/frontend/pages/program.jade
  include views/frontend/pages/about.jade
  include views/frontend/pages/twitter.jade
  //- include views/frontend/pages/updates.jade
  include views/frontend/pages/projects.jade
  //-include views/frontend/pages/contributors.jade
  include views/frontend/pages/contact.jade